@model List<ConnectMedia.Common.Model.ResgisterUser>

@{
  ViewData["Title"] = "CSVList";
  Layout = "~/Views/Shared/_Layout.cshtml";
  int count = 0;
}

<h1>CSVList</h1>

<div class="row mb-3">
  <div class="offset-10 col-lg-2 col-md-2">
    <a type="button" class="btn waves-effect waves-light btn-block btn-success" asp-action="AddEmailUser">Add Team User</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="demo-foo-addrow" class="table m-t-0 table-hover contact-list" data-page-size="10">
            <thead>
              <tr>
                <th>No.</th>
                <th>Team</th>
                @*<th>Serial No.</th>*@
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Registration No.</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
              {
                count++;
                <tr>
                  <td>@count.ToString()</td>
                  <td>@item.TeamName</td>
                  @*<td>@item.SerialNo</td>*@
                  <td>@item.Name</td>
                  <td>@item.Email</td>
                  <td>@item.Phone</td>
                  <td>@item.RegistrationNumber</td>
                  <td>
                    <a class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" asp-action="AddEmailUser" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" asp-action="DeleteCSVUser" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>