@model ConnectMedia.Common.DTO.NoticeSendEmail
@{
  ViewData["Title"] = "Teamlist";
  int count = 0;
}

<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="demo-foo-addrow" class="table m-t-0 table-hover contact-list" data-page-size="10">
            <thead>
              <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Preview</th>
              </tr>
            </thead>
            <tbody>
              @foreach (string teamName in Model.EmailTeam)
              {
                count++;
                <tr>
                  <td>@count.ToString()</td>
                  <td>@teamName.ToString()</td>
                  <td>
                    <a class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" asp-action="SendTeamEmail" asp-route-id="@Model.NoticeId" asp-route-tn="@teamName"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" asp-action="SendTeamSMS" asp-route-id="@Model.NoticeId" asp-route-tn="@teamName"><i class="fa fa-line-chart"></i></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

