@model List<ConnectMedia.Common.Model.UploadFile>
@{
    ViewData["Title"] = "Tutorail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    @if (item.Portion == (int)ConnectMedia.Common.Enum.TutorialType.Introduction)
    {
        <h1>@ConnectMedia.Common.Enum.TutorialType.Introduction.ToString()</h1>
        @item.FilePath.ToString();

        @item.FileName.ToString();
    }
    @if (item.Portion == (int)ConnectMedia.Common.Enum.TutorialType.Notice)
    {
        <h1>@ConnectMedia.Common.Enum.TutorialType.Notice.ToString()</h1>

        @item.FilePath.ToString();
    }
    @if (item.Portion == (int)ConnectMedia.Common.Enum.TutorialType.Classified)
    {
        <h1>@ConnectMedia.Common.Enum.TutorialType.Classified.ToString()</h1>
        @item.FilePath.ToString();
    }

}

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="tutorial-wrapper">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="d-flex mb-3">
        <div class="mr-auto p-2">
            <div class="card-title p-2 flex-grow-1 ">
                <h2>Tutorials</h2>
            </div>
        </div>
        <div class="p-2">
            <p>0 of 3 complete</p>
            <div class="progress-bar bg-success " role="progressbar" aria-valuenow="50" aria-valuemin="0"
                 aria-valuemax="100" style="width:50%; height:6px;">
                <span class="sr-only">
                    50%
                    Complete
                </span>
            </div>
        </div>
        <div class=" p-2">
            <button class="btn btn-block btn-lg btn-success p-2">
                Start
                Tutorials
            </button>
        </div>
    </div>

    <div class="tutorials-toggle">
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-plus"></i></a>
                </div>
                <h4 class="card-title m-b-0">Introduction</h4>
            </div>
            <div class="card-body p-0 text-center collapse show" style="">
                <!-- Introduction Selection box 1 -->
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 1
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box  3 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 2
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 3  -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 3
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 4 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 4
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 5 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 5
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Notice Overview box -->
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-plus"></i></a>
                </div>
                <h4 class="card-title m-b-0">Notice Overview</h4>
            </div>
            <div class="card-body p-0 text-center collapse" style="">
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 1
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box  3 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 2
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 3  -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 3
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 4 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 4
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 5 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 5
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Classified Overview box -->
        <div class="card">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-plus"></i></a>
                </div>
                <h4 class="card-title m-b-0">Classified Overview</h4>
            </div>
            <div class="card-body p-0 text-center collapse" style="">
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 1
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box  3 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 2
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 3  -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 3
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 4 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 4
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                        <!-- Notice Overview Selection box 5 -->
                    </div>
                </div>
                <div class="card-body ">
                    <div class="d-flex  mb-0">
                        <div class="mr-auto p-0">
                            <a class="popup-youtube fa fa-play"
                               href="#">
                            </a> Selection Box 5
                        </div>
                        <div class="p-0">
                            4:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->


