@model List<ConnectMedia.Common.DTO.ClassifiedGridView>

@{
  ViewData["Title"] = "Classified";
  Layout = "~/Views/Shared/_Layout.cshtml";
  int count = 0;

}

<div class="row mb-3">
  <div class="offset-10 col-lg-2 col-md-2">
    <a type="button" class="btn waves-effect waves-light btn-block btn-success" asp-action="Create">Add Classified</a>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="demo-foo-addrow" class="table m-t-0 table-hover contact-list" data-page-size="10">
            <thead>
              <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Content</th>
                <th>Playlist Name</th>
                <th>Contact No</th>
                <th>Posted By</th>
                <th>Start</th>
                <th>End</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
              {
                count++;
                <tr>
                  <td>@count.ToString()</td>
                  <td>
                    @item.Title
                  </td>
                  <td>@item.Content</td>
                  <td>@item.Playlist</td>
                  <td>@item.ContactNumber</td>
                  <td>@item.PostedBy</td>
                  <td><span class="label label-danger">@item.Start</span> </td>
                  <td><span class="label label-danger">@item.End</span> </td>
                  <td>
                    <a class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" asp-action="Create" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>
              }
            </tbody>
            @*<tfoot>
              <tr>
                <td colspan="7">
                  <div class="text-right">
                    <ul class="pagination">@Model.Count </ul>
                  </div>
                </td>
              </tr>
            </tfoot>*@
          </table>
        </div>
      </div>
    </div>
  </div>
</div>